body {
  background-color: #000;
}

/* (A) CONTAINER */
#stopwatch, .sw-control {
  width: 100%;
  margin: 0 auto;
}

.sw-control {
  position: fixed;
  bottom: 10%;
}

/* (B) TIME */
#sw-time {
  width: 100%;
  padding: 20px 0;
  font-size: 128px;
  font-weight: bold;
  text-align: center;
  background: #000;
  color: #fff;
}

/* (C) BUTTONS */
#sw-rst, #sw-go {
  box-sizing: border-box;
  width: 49%;
  cursor: pointer;
  padding: 20px 0;
  border: 0;
  color: #fff;
  font-size: 20px;
}
#sw-rst { background-color: #a32208; }
#sw-go { background-color: #20a308; }